.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  background-color: #050505;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}

h1 {
  letter-spacing: -.15rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.6875rem;
  font-weight: 500;
  line-height: 110%;
}

h2 {
  letter-spacing: -.15rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 110%;
}

h3 {
  letter-spacing: -.06rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
}

p {
  opacity: .7;
  letter-spacing: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 150%;
}

.page_wrapper {
  overflow: clip;
}

.main_wrapper {
  color: #fff;
}

.section_hero {
  color: #fff;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 0;
  display: flex;
}

.hero_headings {
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 42rem;
  display: flex;
}

.tag_alpha {
  z-index: 1;
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffff14;
  border: 1px solid #ffffff1a;
  border-radius: .625rem;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 2.8125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  position: relative;
}

.dot {
  background-color: #1f67fd;
  border-radius: 70px;
  width: .5rem;
  height: .5rem;
}

.capital_hero-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.alpha_capital-button {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  color: #fff;
  background-color: #00b67a00;
  background-image: linear-gradient(90deg, #2069ff, #003cb7);
  border-radius: .3125rem;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2.9rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  font-size: .9rem;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow .2s;
  display: flex;
  position: relative;
}

.alpha_capital-button:hover {
  box-shadow: inset -1px 0 10px 1px #ffffff4d;
}

.alpha_capital-button.secondary {
  background-image: linear-gradient(#0000, #0000);
  border: 1px solid #ffffff4d;
  font-size: .9rem;
}

.alpha_capital-button.secondary:hover {
  box-shadow: none;
  background-color: #ffffff0d;
}

.alpha_capital-button.none {
  background-color: #00b67a00;
  background-image: none;
  border: 1px #ffffff4d;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: .9rem;
}

.alpha_capital-button.none:hover {
  box-shadow: none;
  background-color: #fff0;
}

.button_text-2 {
  font-weight: 500;
}

.button_text-2.prime-4 {
  font-size: .875rem;
}

.padding_global {
  padding-bottom: 6.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container_global {
  max-width: 77.5rem;
  margin-left: auto;
  margin-right: auto;
}

.heading_wrap {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading_wrap.s {
  width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.heading_wrap.pricing {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
}

.heading_asset-space {
  height: 2rem;
}

._3_col-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.border_wrapper {
  z-index: 1;
  color: #fff;
  background-color: #ddd0;
  background-image: linear-gradient(#ffffff26, #fff0 41%);
  border-radius: .9375rem;
  padding: .07rem;
  text-decoration: none;
  position: relative;
}

.border_wrapper.w--current {
  background-color: #000;
}

.card_l {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: #0d0d10;
  border: 1px #000;
  border-radius: .9375rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 28.125rem;
  padding: 2.3rem;
  transition: all .2s;
  display: flex;
  position: relative;
  overflow: clip;
}

.card_l:hover {
  background-color: #0a0a0a;
}

.card_l.is_earn {
  background-image: linear-gradient(270deg, #003cb7, #2069ff);
}

.stack_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 69rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.card_xs {
  grid-column-gap: .9375rem;
  grid-row-gap: .9375rem;
  -webkit-backdrop-filter: blur(.625rem);
  backdrop-filter: blur(.625rem);
  background-color: #0003;
  border-radius: .625rem;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem;
  font-weight: 500;
  display: flex;
}

.icon_s {
  width: 1.3rem;
  height: 1.3rem;
}

.card_headings {
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
  flex-flow: column;
  display: flex;
}

.weight_400 {
  font-weight: 400;
}

.phase_tag {
  color: #0781fe;
  background-color: #3986ff26;
  border-radius: 3px;
  padding: .35rem .4rem .3rem;
  font-size: .7rem;
  font-weight: 600;
}

.phase_tag.is_white {
  color: #fff;
  background-color: #ffffff26;
}

.middle_align {
  justify-content: center;
  align-items: center;
  display: flex;
}

.earn_image {
  width: 17.5rem;
  margin-top: -3rem;
  margin-right: 2rem;
  position: absolute;
  inset: 0% 0% auto auto;
}

.choose_image {
  pointer-events: none;
  margin-top: -2.5rem;
  position: absolute;
  inset: 0% 0% auto auto;
}

.prove_image {
  width: 25rem;
  max-width: none;
  margin-top: -3rem;
  margin-left: -3rem;
  position: absolute;
  inset: 0% auto auto;
}

.h2 {
  line-height: 120%;
}

.pricing-objectives {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.pricing_card {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: #0d0d0e;
  border-radius: .9375rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 1.5625rem;
  display: flex;
  position: relative;
  overflow: visible;
}

.pricing_card.popular {
  background-image: linear-gradient(0deg, #3986ff1a, #fff0 40%);
}

.pricing_card._100 {
  height: 100%;
}

.w_600 {
  font-weight: 600;
}

.pricing_grid {
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.pricing_grid.is_4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: stretch center;
}

.pricing_grid.flex {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tabs {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  display: flex;
}

.tab_content {
  width: 100%;
  margin-top: 2rem;
  overflow: visible;
}

.text_block-s {
  font-size: .8rem;
}

.text_block-s.text_500 {
  opacity: .5;
}

.text_block-s.right {
  text-align: right;
}

.arrow {
  opacity: .9;
  justify-content: flex-start;
  align-items: center;
  width: .875rem;
  display: flex;
}

.arrow.absolute {
  opacity: 0;
  justify-content: flex-start;
  align-items: center;
  height: .875rem;
  margin-left: -2rem;
  margin-right: .2rem;
  position: static;
  inset: 0% auto 0% 0%;
}

.arrow.absolute.prime-3, .arrow.prime-5 {
  width: .75rem;
}

.tab_pane {
  width: 100%;
}

.tab_menu {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: #ffffff1a;
  border-radius: 18.75rem;
  justify-content: center;
  align-items: center;
  padding: .625rem;
  display: flex;
  overflow: clip;
}

.tab_menu.card_xs {
  background-color: #0d0d0f;
}

.pricing_info {
  border-bottom: 1px solid #1a1a1a;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: .7rem;
  display: flex;
}

.liner_border {
  z-index: 1;
  color: #fff;
  background-color: #ddd0;
  background-image: linear-gradient(#ffffff26, #fff0 41%);
  border-radius: .9375rem;
  width: 285px;
  padding: .07rem;
  text-decoration: none;
  position: relative;
}

.liner_border.w--current {
  background-color: #000;
}

.liner_border.is_popular {
  background-image: linear-gradient(#1c63f780, #1d62f52e 41%);
  overflow: visible;
}

.liner_border.hidden_m {
  pointer-events: none;
  margin-top: 0;
}

.tab {
  color: #a3a3a3;
  background-color: #ddd0;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 3rem;
  padding: 0 1.5rem;
  font-weight: 500;
  transition: all .2s;
  display: flex;
}

.tab:hover {
  background-color: #ffffff0d;
}

.tab.w--current {
  color: #fff;
  background-color: #2069ff;
  background-image: linear-gradient(270deg, #003cb7, #2069ff);
  width: auto;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

.main_button {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  color: #fff;
  cursor: pointer;
  background-color: #00b67a;
  border-radius: .3125rem;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 3.2rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow .2s;
  display: flex;
  position: relative;
  overflow: clip;
}

.main_button:hover {
  box-shadow: inset -1px 0 13px 5px #ffffff4d;
}

.main_button.prime-2 {
  background-color: #e7a200;
  height: 2.5rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.span_small {
  opacity: .7;
  font-size: 1rem;
}

.pricing_wrapper {
  grid-column-gap: .3125rem;
  grid-row-gap: .3125rem;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: .3rem;
  display: flex;
}

.pricing_s {
  opacity: .6;
  margin-bottom: .1rem;
  font-size: 1.25rem;
  line-height: 130%;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.pricing_s.light {
  opacity: 1;
  text-decoration: none;
}

.pricing_l {
  opacity: 1;
  color: #0781fe;
  letter-spacing: -1px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
  text-decoration: none;
  text-decoration-thickness: 2px;
}

.fade {
  z-index: 1;
  opacity: .95;
  pointer-events: none;
  background-color: #05050500;
  background-image: linear-gradient(270deg, #050505, #fff0), linear-gradient(#050505e6, #050505e6);
  width: 100%;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.fade.right {
  background-color: #05050500;
  background-image: linear-gradient(90deg, #050505 14%, #fff0), linear-gradient(#050505e6, #050505e6);
  inset: 0% 0% 0% auto;
}

.absolute_image {
  margin-top: -17px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0% 0% auto;
}

.comparison_table {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  display: flex;
}

.list_bottom {
  grid-column-gap: 1.45rem;
  grid-row-gap: 1.45rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  display: flex;
}

.text_block {
  opacity: .6;
  text-align: center;
}

.trader {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: .2rem;
  display: flex;
}

.trader.vertical {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about {
  color: #b3b3b3;
  margin-top: .4rem;
  line-height: 1.3;
}

.text_700-2 {
  color: #b3b3b3;
}

.tarder_image {
  width: 100%;
  height: 100%;
}

.marquee_wrapper {
  width: 100%;
  height: 16rem;
  position: absolute;
  inset: auto 0% 0%;
}

.marquee_wrapper.static {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  position: static;
}

.fade_right {
  pointer-events: none;
  background-image: linear-gradient(270deg, #000, #fff0);
  width: 10rem;
  height: 36rem;
  margin-top: -2rem;
  margin-right: -.1rem;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.play_button {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  pointer-events: none;
  border-radius: 13.125rem;
  position: absolute;
  inset: auto;
  overflow: clip;
}

.marquee {
  grid-column-gap: 1rem;
  background-color: #f1714400;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.marquee.r {
  position: relative;
}

.marquee._2 {
  display: none;
  position: relative;
}

.marquee.hero {
  display: flex;
  position: relative;
}

.capitaltrader_block {
  background-color: #0d0d10;
  border: 1px solid #ffffff1a;
  border-radius: .3125rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: 25rem;
  height: 30rem;
  padding: .625rem;
  display: flex;
  overflow: clip;
}

.trader_video {
  background-image: linear-gradient(#00000080, #00000080);
  border-radius: .3125rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 16rem;
  max-height: 16rem;
  display: flex;
  position: relative;
  overflow: clip;
}

.marquee-content {
  grid-column-gap: 1rem;
  flex: none;
  justify-content: space-around;
  min-width: 100%;
  display: flex;
}

.trader_country {
  border-radius: .3125rem;
  width: 2rem;
}

.fade_left {
  pointer-events: none;
  background-image: linear-gradient(90deg, #000, #fff0);
  width: 10rem;
  height: 36rem;
  margin-top: -2rem;
  margin-left: -.1rem;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.trader_headings {
  padding: .9375rem;
}

.trader_headings.horizontal {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.traders_name {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 130%;
}

.traders_name.w_600 {
  font-size: 1.3rem;
  font-weight: 500;
}

.line-2 {
  background-color: #333;
  width: 100%;
  height: 1px;
}

.container_large {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.trustpilot-slider {
  max-width: 72.5rem;
  height: 35rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: clip;
}

.code-embed-3 {
  height: 100%;
}

.fade_b {
  background-image: linear-gradient(#0000, #050505);
  height: 15rem;
  position: absolute;
  inset: auto 0% 0%;
}

.text_600 {
  color: #999;
  font-weight: 400;
}

.heading_3 {
  letter-spacing: -.05rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 130%;
}

.image_absolute {
  display: none;
}

.evaluation_cards {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: #0d0d10;
  border: 1px #000;
  border-radius: .9375rem;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 2.3rem;
  transition: all .2s;
  display: flex;
  position: relative;
  overflow: clip;
}

.evaluation_cards:hover {
  background-color: #17171b;
}

.button_wraps {
  grid-column-gap: .4rem;
  grid-row-gap: .4rem;
  display: flex;
}

.heading_wrapper {
  grid-column-gap: 1.5625rem;
  grid-row-gap: 1.5625rem;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 23.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.heading_wrapper.align {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  width: 36rem;
  margin-left: 0;
  margin-right: 0;
}

.trader-benefits {
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.2rem;
  flex-flow: column;
  margin-top: 1rem;
  display: flex;
}

.heading_6 {
  letter-spacing: -.03rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 130%;
}

.evaluation_heading {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.evaluation_heading.space_headings {
  grid-column-gap: .4rem;
  grid-row-gap: .4rem;
}

.benefit_icon {
  height: 2rem;
}

.benefit_icon.s {
  height: 1.5rem;
  margin-bottom: .5rem;
}

.logo_prime {
  width: 12rem;
  max-width: none;
}

.top {
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
  flex-flow: column;
  margin-bottom: 1rem;
  display: flex;
}

.showcase_card {
  background-color: #0d0d10;
  background-image: url('../images/Gradient-Green.svg');
  background-position: 50%;
  background-size: cover;
  border-radius: .9375rem;
  height: 30rem;
  padding: 2rem;
  position: relative;
  overflow: clip;
}

.showcase_card.prime {
  background-image: url('../images/Prime-Background.avif');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  display: flex;
}

.faqs_wrapper {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: column;
  max-width: 70rem;
  margin-top: 4.375rem;
  padding: 0;
  display: flex;
}

.faqs_wrapper.mid {
  margin-left: auto;
  margin-right: auto;
}

.faq_answer-2 {
  color: #999;
  line-height: 1.1;
  overflow: clip;
}

.faq_capital {
  text-align: left;
  background-color: #0d0d10;
  border: 1px #ffffff1a;
  border-radius: .9375rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.875rem;
  display: flex;
}

.dropdown_icon {
  pointer-events: auto;
  width: .7rem;
  margin-left: .5rem;
  margin-right: 0;
  position: static;
}

.answer_paragraph {
  padding-top: .7rem;
  font-weight: 400;
}

.faq_question {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.icon {
  width: 2.5rem;
}

.text_600-2 {
  color: #999;
}

.w_300-2 {
  letter-spacing: 0;
  font-size: 2rem;
  font-weight: 500;
}

.cta_middle {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  width: 39rem;
  display: flex;
}

.cta_middle.mid {
  justify-content: flex-start;
  align-items: center;
}

.text_white {
  opacity: 1;
  color: #fff;
}

.paragraph_large {
  opacity: 100;
  color: #fffc;
  letter-spacing: -.04rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.stat {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  display: flex;
}

.cta_top {
  height: 1rem;
}

.stat_headings {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer_wraps {
  background-image: url('../images/GradientBlur-2.svg');
  background-position: 50%;
  background-size: auto;
  overflow: visible;
}

.cta_capitl {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 39.375rem;
  display: flex;
  overflow: visible;
}

.rew {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  margin-bottom: 3rem;
  display: flex;
}

.container_global-2 {
  max-width: 81.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: visible;
}

.span_blue-2 {
  color: #3986ff;
}

.footer_paragraph-wrap {
  padding: 2rem 1rem;
}

.heading_2 {
  font-size: 2.9rem;
}

.padding_none {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.secondary_nav {
  z-index: 20;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
  overflow: clip;
}

.nav_brand-2 {
  z-index: 1;
  width: 11rem;
  position: relative;
}

.brand_logo {
  width: 100%;
}

.buttons_wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.weight_500 {
  font-weight: 500;
}

.show-objectives-btn {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  display: none;
}

.copy_button {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  color: #fff;
  background-color: #00b67a00;
  background-image: linear-gradient(90deg, #2069ff, #003cb7);
  border-radius: .3125rem;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2.9rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: .9rem;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow .2s;
  display: flex;
  position: relative;
}

.copy_button:hover {
  box-shadow: inset -1px 0 10px 1px #ffffff4d;
}

.copy_button.secondary {
  background-image: linear-gradient(#0000, #0000);
  border: 1px solid #ffffff4d;
  font-size: .9rem;
  transition: all .2s;
}

.copy_button.secondary:hover {
  box-shadow: none;
  background-color: #ffffff0d;
}

.copy_button.none {
  background-color: #00b67a00;
  background-image: none;
  border: 1px #ffffff4d;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: .9rem;
}

.copy_button.none:hover {
  box-shadow: none;
  background-color: #fff0;
}

.alpha_icon-l {
  z-index: 0;
  opacity: .8;
  pointer-events: none;
  mix-blend-mode: lighten;
  width: 90vw;
  max-width: 90%;
  margin-bottom: -15.625rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: auto 0% 0%;
}

@media screen and (max-width: 991px) {
  .padding_global {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .heading_wrap.s {
    width: 38rem;
  }

  ._3_col-grid {
    grid-template-columns: 1fr 1fr;
  }

  .border_wrapper.w--open {
    z-index: 2;
    background-color: #ddd0;
    margin-top: 1rem;
    overflow: clip;
  }

  .stack_wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 39rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    display: flex;
  }

  .h2 {
    font-size: 2.6rem;
  }

  .pricing_grid {
    grid-template-columns: 1fr 1fr;
    place-items: center stretch;
  }

  .pricing_grid.is_4 {
    grid-template-columns: 1fr 1fr;
  }

  .liner_border {
    width: 100%;
  }

  .liner_border.w--open {
    z-index: 2;
    background-color: #ddd0;
    margin-top: 1rem;
    overflow: clip;
  }

  .liner_border.is_popular {
    width: 100%;
  }

  .liner_border.hidden_m {
    display: none;
  }

  .tab {
    text-decoration: none;
  }

  .fade {
    display: none;
  }

  .trustpilot-slider {
    width: 90%;
    height: 30rem;
  }

  .heading_wrapper.align {
    width: 100%;
  }

  .showcase_card.prime {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding: 3rem;
  }

  .faqs_wrapper {
    width: 100%;
  }

  .rew {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    place-items: center;
    display: flex;
  }

  .nav_brand-2 {
    width: 12rem;
  }

  .show-objectives-btn {
    display: none;
  }

  .alpha_icon-l {
    width: 100vw;
    max-width: none;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.4rem;
  }

  .section_hero {
    background-image: linear-gradient(#1f67fd66, #050505);
    height: 100svh;
  }

  .hero_headings {
    width: 27rem;
  }

  .alpha_capital-button {
    height: 2.9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .button_text-2 {
    font-size: .8rem;
    line-height: 120%;
  }

  .heading_wrap.s {
    width: 30rem;
  }

  ._3_col-grid {
    flex-flow: column;
    grid-template-columns: 1fr;
    display: flex;
  }

  .card_l {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: 28rem;
  }

  .stack_wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    padding: 0;
    display: flex;
  }

  .choose_image {
    margin-top: -5.6rem;
  }

  .prove_image {
    inset: 0% 0% auto auto;
  }

  .h2 {
    letter-spacing: -.1rem;
    font-size: 2.1rem;
  }

  .pricing-objectives {
    height: auto;
  }

  .pricing_card {
    padding-top: 3rem;
  }

  .pricing_grid {
    flex-flow: column;
    display: flex;
  }

  .arrow {
    width: .7rem;
  }

  .liner_border {
    width: 100%;
  }

  .main_button {
    height: 2.9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .pricing_heading {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
  }

  .marquee._2, .marquee.hero {
    margin-bottom: 3rem;
    display: flex;
  }

  .trustpilot-slider {
    height: 30rem;
  }

  .fade_b {
    pointer-events: none;
    height: 10rem;
  }

  .heading_3 {
    letter-spacing: -.08rem;
  }

  .image_absolute {
    display: block;
  }

  .evaluation_cards {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: auto;
  }

  .heading_wrapper.align {
    width: 100%;
    padding: 2rem;
  }

  .showcase_card.prime {
    background-image: none;
    background-position: 0 0;
    background-size: auto;
    padding: 0;
  }

  .faqs_wrapper {
    margin-top: 2rem;
  }

  .faq_capital {
    padding: 1.5rem;
  }

  .icon {
    width: 2rem;
  }

  .cta_middle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .cta_capitl {
    background-size: auto;
  }

  .rew {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    display: none;
  }

  .secondary_nav {
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .buttons_wrap {
    display: none;
  }

  .show-objectives-btn {
    display: flex;
  }

  .copy_button {
    height: 2.9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.6rem;
  }

  p {
    font-size: .9rem;
    font-weight: 400;
    line-height: 140%;
  }

  .main_wrapper {
    overflow: clip;
  }

  .hero_headings {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 22rem;
  }

  .tag_alpha {
    height: 2.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .8rem;
  }

  .capital_hero-buttons {
    flex-flow: column;
  }

  .padding_global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading_wrap.s {
    width: 100%;
  }

  .heading_wrap.m {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading_wrap.pricing {
    width: 100%;
  }

  .card_l {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: 26rem;
    padding: 1.5rem;
  }

  .stack_wrapper {
    margin-bottom: -.625rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .earn_image {
    margin-top: -5.1rem;
    margin-right: 1rem;
  }

  .choose_image {
    margin-top: -1.6rem;
  }

  .prove_image {
    margin-top: -6rem;
  }

  .h2 {
    letter-spacing: 0;
    font-size: 1.8rem;
  }

  .arrow {
    width: .8rem;
  }

  .tab_menu {
    border-radius: 1.6rem;
    flex-flow: column;
    width: 100%;
  }

  .tab_menu.card_xs {
    flex-flow: row;
    padding: .4rem;
  }

  .liner_border {
    width: 100%;
  }

  .tab {
    white-space: pre;
    width: 100%;
  }

  .main_button {
    height: 2.5rem;
    min-height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .9rem;
  }

  .pricing_heading {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
  }

  .comparison_table {
    flex-flow: column;
    align-items: stretch;
    font-weight: 400;
  }

  .list_bottom {
    margin-top: 3rem;
  }

  .about {
    font-size: .8rem;
  }

  .text_700-2 {
    font-size: .9rem;
  }

  .marquee_wrapper {
    bottom: -11%;
  }

  .marquee_wrapper.static {
    margin-top: 0;
  }

  .fade_right {
    width: 3rem;
    height: 30rem;
    display: flex;
  }

  .marquee._2, .marquee.hero {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .capitaltrader_block {
    width: 20rem;
    height: auto;
  }

  .trader_video {
    min-height: 13rem;
    max-height: 13rem;
  }

  .trader_country {
    width: 1.5rem;
  }

  .fade_left {
    width: 3rem;
    height: 30rem;
    display: flex;
  }

  .trader_headings.horizontal {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .traders_name.w_600 {
    font-size: 1rem;
  }

  .trustpilot-slider {
    height: 25rem;
  }

  .fade_b {
    pointer-events: none;
    height: 10rem;
  }

  .heading_3 {
    font-size: 1.6rem;
  }

  .image_absolute {
    display: block;
  }

  .evaluation_cards {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: auto;
    padding: 1.5rem;
  }

  .heading_wrapper {
    width: 100%;
  }

  .heading_wrapper.align {
    padding: 1.5rem;
  }

  .heading_6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  .benefit_icon {
    height: 1.5rem;
  }

  .benefit_icon.s {
    height: 1.3rem;
  }

  .showcase_card {
    height: 25rem;
  }

  .showcase_card.prime {
    background-image: none;
    background-position: 0 0;
    height: auto;
    padding: 0;
  }

  .faqs_wrapper.mid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .w_300-2 {
    font-size: 1.7rem;
  }

  .cta_middle {
    width: 90%;
  }

  .cta_middle.mid {
    width: 20rem;
  }

  .paragraph_large {
    font-size: .8rem;
    line-height: 160%;
  }

  .cta_top {
    height: 5rem;
  }

  .cta_capitl {
    background-size: auto;
    height: auto;
  }

  .rew {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    display: none;
  }

  .container_global-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer_paragraph-wrap {
    padding: 1.5rem 0;
  }

  .heading_2 {
    font-size: 2.2rem;
  }

  .padding_none {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .secondary_nav {
    justify-content: center;
    align-items: center;
  }

  .nav_brand-2.w--current {
    width: 10rem;
  }

  .alpha_icon-l {
    width: 44rem;
    margin-bottom: -2rem;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_5584966f-f802-69de-14c5-9b15b50ca358-a12341d3 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


